.wrapper {
    display: flex;
    align-items: stretch;
    padding-left: 20px;
    padding-right: 20px;
}

#block-content {
    width: 100%;
}

.sidebar {
    display:inline;
}
.sidebar_left {
    display: block;
    min-width: 200px;
    max-width: 250px;
    min-height: 100vh;
    margin-right: 30px;
}

.sidebar_left.active {
    display:none;
}

.sidebar_right {
    display: block;
    min-width: 250px;
    max-width: 300px;
    min-height: 100vh;
    margin-left: 30px;
}

.sidebar_right.active {
    display:none;
}

.sidebar .sidebar-header {
    padding: 20px;
}

.sidebar ul.components {
    padding: 20px 0px;
    border-bottom: 1px solid ;
}

.sidebar ul p {
    padding: 10px;
}

.sidebar ul li a {
    font-size: 1.1em;
    display: inline;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.sidebar li {
    margin-bottom: 1rem;
}

.collapse {
    margin-bottom: 1rem;}

.sidebar ul li.active > a, a[aria-expanded="true"] {
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 25px !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::before {
    display: block;
    /* position: absolute; */
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/*
Code taken from here: https://codepen.io/svnt/pen/beEgre
*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.nav-item {
    min-width: 150px;
    margin-left: 50px;
    display: block;
}


.nav-item:hover>.dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu {
    margin:0;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.tc_block {
    display: block;
    margin-bottom: 1em;
}
.tc_block.h5{
    margin-bottom: 0.2em;
}
/* coloring connections */

.inter {
    background: #F5CD06;
}

.intra {
    background: #FFF835;
}
.inter:hover {
    background: #F5CD06;
}

.intra:hover {
    background: #FFF835;
}


.chain {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    border-left: 10px solid #1A0584;
    padding: 3px;
    margin: 2px;
    margin-bottom: 5px;
}

.chain h5{
    margin-bottom: 0.2em;
}

.chain:hover {
    text-decoration: none;
    border: 1px solid grey;
    border-left: 10px solid #6A5EA5;
}

.theme {
    display: block;
    border: 1px solid grey;
    border-left: 10px solid #4925FE;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    margin: 2px;
}

.theme h6{
    margin-bottom: 0.2em;
    padding: 1px;
}


.theme:hover {
    text-decoration: none;
    border-left: 10px solid #A999F9;
    border-radius: 5px;
}

.theme_inline  {
    display: inline-block;
    border: 1px solid grey;
    border-left: 10px solid #4925FE;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}

.theme_inline:hover {
    text-decoration: none;
    border: 1px solid grey;
    border-left: 10px solid #A999F9;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}

.connection  {
    display: inline-block;
    border: 1px solid grey;
    text-align: justify;
    border-radius: 3px;
    border: solid 1px grey;
    border-left: 10px solid #745AF9;
    margin: 2px;
}

.keyword {
    border-left: 5px solid #745AF9;
    border-radius: 3px;
    padding: 3px;
    margin: 2px;
}

.thumbnail {
    text-align:center;
    padding: 2px;
    margin: 0.4em;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
}

.thumbnail:hover{
    background: #FF7D7D;
}


#block-content{
    margin-left: .5rem;
}

.row {
    margin:0px;
    padding-top:20px;
}

.taxonomy {
    display: block;
    border: 1px solid grey;
    border-left:10px solid;
    border-radius: 7px;
    padding: 3px;
    margin: 2px;
    max-width: 200px;
}
 /* this is a hack: becasue the video thumbnails have 0.4em margin, they start a bit more in. This looks ugly, so lets bring all elements that are above them just the right amount in*/
.view_title {
    margin-left:0.4em;
}

.highlight {
    background: #FF7D7D;
}

.giant{
    font-size: 200px;
    font-weight: bolder;
}

.tiny{
    font-size: 12px;
    font-weight: lighter;
}


.custom-menu {
    z-index:1000;
    position: absolute;
    background-color:#FFFFFF;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
}

.fit{
    display: grid;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    -webkit-user-select: none;
}

.zoomin{
    cursor: zoom-in;
}

.zoomout{
    cursor: zoom-out;
}

.search{
    margin-left:auto;
}

video {
    padding:1rem;
}

.graph {
    width: 90%;
    height: 1000px;
    border: 1px solid lightgray;
}
.small_graph {
    diplay: inline-block;
    width: 90%;
    border: 1px solid lightgray;
}

#front-body{
    text-align:justify;
    min-width: 300px;
    max-width: 1500px;
}

.graph_legend{
    text-align: justify;
    max-width: 400px;
    min-width: 300px;
}
