{% extends 'base.html' %}
{% block title %} Analysis Type: {{analysis_type.name}}{% endblock %}

{% load ap_link %}
{% block content %}

<div class="view_title">
    {% if analysis_type %}
    <div >
        <h1> {{analysis_type.name}} </h1>
        {{analysis_type.description}}


    </div>
    <div>
        <h3>    Analysis Points:</h3>
            {% for ap in analysis_points %}
            {% ap_link ap.name ap.color_code ap.url %}
            {% endfor %}
    </div>
</div>

{% endif %}
{% endblock%}
