{% extends 'base.html' %}
{% load story_list_thumb %}
{% load colored_title %}
{% block title %} Analysis: {{analysis_point.name}}{% endblock %}
{% block content %}

    {% if analysis_point %}
<div class="row">

    <div class="col">
        <div>
            {% colored_title analysis_point.name analysis_point.color_code %}


</div>
    </br>
<div>
    {{analysis_point.description}}
</div>
    </div>
</div>
{% endif %}
    {% if stories %}
<div class="row">
    <div class="col">
    <h3>Stories</h3>
    {% story_list_thumb stories 150%}
    </div>
</div>
    {% endif %}

{% endblock%}
