{% extends 'base.html' %}
{% load story_list_thumb %}
{% load colored_title %}
{% block title %} Analysis: {{analysis_point.name}}{% endblock %}
{% block content %}

    {% if analysis_point %}
<div class="view_title">

    {% colored_title analysis_point.name analysis_point.color_code %}

    Analysis Type:
    <a href="/analysis_type/{{analysis_point.analysis_type.id}}/">        {{analysis_point.analysis_type.name}}</a>

    {{analysis_point.description}}
</div>
{% endif %}
    {% if stories %}
<div class="view_title">
    <h3>Stories</h3>
</div>
    {% story_list_thumb stories 150%}
    {% endif %}

{% endblock%}
