{% extends 'confabulation/base.html' %}

{% block title %} Connection: {{connection.name}}{% endblock %}
{% block content %}

<div class="Connection">
    {% if connection %}

    <h1> <font color="{{connection.color_code}}">{{connection.name}}</font> </h1>

    <div class="description">
        {{connection.description}}
    </div>

    <div class="contianer">
        {% for p in participants %}
        <div class="row">
            <div class="col p2">
                <h2><a href="/participant/{{p.p_id}}/">{{p.name}}</a></h2>
            </div>
            <div class="col p2">
                <h3>Chains</h3>
                {% for c in p.chains %}
                <h5><a href="/chain/{{c.chain.id}}/">{{c.chain.name}}:</a></h5>

                {% for t in c.themes %}
                <a href="/theme/{{t.theme.id}}/">{{t.theme.name}}</a>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="col p2">
                <h3>Themes</h3>
                {% for t in p.themes %}
                <h5><a href="/theme/{{t.theme.id}}/">{{t.theme.name}}</a></h5>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}
    {% endblock%}
</div>
