{% extends 'confabulation/base.html' %}

{% block title %} Connection: {{connection.name}}{% endblock %}
{% load chain_with_theme_list %}
{% load theme_list %}
{% load theme_with_keywords_list %}
{% block content %}

<div class="Connection">
    {% if connection %}

    <h1> <font color="{{connection.color_code}}">{{connection.name}}</font> </h1>

    <div class="description">
        {{connection.description}}
    </div>

    <div class="contianer">
    <div >
        {% if inter_chain %}
        <h5>The one connecting Chain accross participants </h5>
        <div class="chain">
            <h3><a href="/chain/{{inter_chain.id}}/">{{inter_chain.name}}</a></h3>
        </div>
                <h3>Themes for each participant:</h3>

        {% endif%}
    </div>
        {% for p in participants %}
        <div class="row">
            <div class="col p2">
                <h2><a href="/participant/{{p.p_id}}/">{{p.name}}</a></h2>
            </div>
            {% if not inter_chain %}
            <div class="col p2">
                <h3>Chains</h3>
                {% chain_with_theme_list p.chains %}
            </div>
            {% endif %}

                {% if inter_chain %}
                {% theme_with_keywords_list p.themes %}
                {% else %}
                <h3>Themes</h3>
            <div class="col p2">
                {% theme_list p.themes %}
            </div>
                {% endif %}
        </div>
        {% endfor %}
    </div>

    {% endif %}
    {% endblock%}
</div>
