{% extends 'confabulation/base.html' %}

{% block title %} Connection: {{connection.name}}{% endblock %}
{% load chain_with_theme_list %}
{% load chain_with_theme_inline_list %}
{% load theme_list %}
{% load theme_inline_list %}
{% load theme_with_keywords_list %}
{% block content %}

<div class="Connection">
    {% if connection %}

    <h1> <font color="{{connection.color_code}}">{{connection.name}}</font> </h1>

    <div class="description">
        {{connection.description}}
    </div>

    <div >
        {% if inter_chain %}
        <h5>The one connecting Chain accross participants </h5>
            <h3><a href="/chain/{{inter_chain.id}}/" class="chain">{{inter_chain.name}}</a></h3>
                <h3>Themes for each participant:</h3>

        {% endif%}
    <div class="contianer">
        {% for p in participants %}
        <div class="row my-5">
            <div class="col-2 p2">
                <h2><a href="/participant/{{p.p_id}}/">{{p.name}}</a></h2>
            </div>
                {% if inter_chain %}
                {% theme_with_keywords_list p.themes %}
                {% else %}
            <div class="col-9 p2">
                {% chain_with_theme_inline_list p.chains %}
                <h5>Themes</h5>
                {% theme_inline_list p.themes %}
            </div>
                {% endif %}
        </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}
</div>
    {% endblock%}
