<div id="mynetwork">
</div>
<script type="text/javascript">
 // create an array with nodes
 var nodes = new vis.DataSet([
     {% for s in node_list %}
     {id: {{s.id}},
      label: '{{s.label}}',
      color:'{{s.color}}',
      font: '25px arial black',
      shape: 'dot',
      size: 40,
      url: '{{s.url}}',
     },
     {% endfor %}
 ]);

 // create an array with edges
 var edges = new vis.DataSet([
     {% for e in edges %}
     {from: {{e.node1.id}},
      to: {{e.node2.id}}
     },
     {% endfor %}
 ]);

 // create a network
 var container = document.getElementById('mynetwork');

 // provide the data in the vis format
 var data = {
     nodes: nodes,
     edges: edges
 };
 var options = {
     improvedLayout: false};

 // initialize your network!
 var network = new vis.Network(container, data, options);

 network.on("selectNode", function (params) {
     if (params.nodes.length === 1) {
         var node = nodes.get(params.nodes[0]);
         window.open(node.url, '_blank');
     }
 });
</script>
