<h3>All stories</h3>
<div class="graph" id="graph1"></div>

<script type="text/javascript">



 /* Big graph with all stories */
 /* create an array with nodes*/
 var nodes = new vis.DataSet([
     {{ nodes|safe }},
 ]);

 var edges = new vis.DataSet([
     {{ edges|safe }},

 ]);
 /* create a network*/
 var container = document.getElementById('graph1');

 /* provide the data in the vis format*/
 var data = {
     nodes: nodes,
     edges: edges,
 };
 var options = {
     layout: {
         improvedLayout: false,
     },
     groups:{
         useDefaultGroups: true,
         {{ groups|safe }},
     },
     physics:{
         barnesHut:{
             centralGravity: 0.4,
             gravitationalConstant: -3000,
             springConstant: 0.1,
         },
     }
};

 /* initialize your network!*/
 var network = new vis.Network(container, data, options);

 /* network.on("selectNode", function (params) {
  *     if (params.nodes.length === 1) {
  *         var node = nodes.get(params.nodes[0]);
  *         window.open(node.url, '_blank');
  *     }
  * });
  */
</script>
