{% for p in participant_graphs %}
<h3>{{p.name}}</h3>
<div class="graph small_graph" id="graph_{{p.name}}"></div>
{% endfor %}
<h3>All stories</h3>
<div class="graph" id="graph1"></div>

<script type="text/javascript">

 // create an array with edges

{% for p in participant_graphs %}
 var nodes_{{p.name}} = new vis.DataSet([
     {{ p.nodes|safe }}
 ]);

 var edges_{{p.name}} = new vis.DataSet([
     {{ p.edges|safe }}
 ]);

 // create a network
 var container_{{p.name}} = document.getElementById('graph_{{p.name}}');

 // provide the data in the vis format
 var data_{{p.name}} = {
     nodes: nodes_{{p.name}},
     edges: edges_{{p.name}},
 };
 var options_{{p.name}} = {
     layout: {
         improvedLayout: false,
     },
     groups:{
         useDefaultGroups: true,
         {{p.group|safe}}
    }
 };

 // initialize your network!
 var network = new vis.Network(container_{{p.name}}, data_{{p.name}}, options_{{p.name}});
 {% endfor %}


 /* Big graph with all stories */
 /* create an array with nodes*/
 var nodes = new vis.DataSet([
     {% for p in participant_graphs %}
     {{ p.nodes|safe }},
     {% endfor %}
 ]);

 var edges = new vis.DataSet([
     {% for p in participant_graphs %}
     {{ p.edges|safe }},
     {% endfor %}

 ]);
 /* create a network*/
 var container = document.getElementById('graph1');

 /* provide the data in the vis format*/
 var data = {
     nodes: nodes,
     edges: edges,
 };
 var options = {
     layout: {
         improvedLayout: false,
     },
     groups:{
         useDefaultGroups: true,
         {% for p in participant_graphs %}
         {{ p.group|safe }},
         {% endfor %}
     }
 };

 /* initialize your network!*/
 var network = new vis.Network(container, data, options);

 network.on("selectNode", function (params) {
     if (params.nodes.length === 1) {
         var node = nodes.get(params.nodes[0]);
         window.open(node.url, '_blank');
     }
 });

</script>
