{% extends 'base.html' %}
{% block title %}{{participant.name}}{% endblock %}
{% load story_list %}
{% load chain_list %}
{% load theme_list %}
{% load story_list_thumb %}
{% load theme_with_story_list %}
{% load chain_with_theme_list %}
{% load story_to_story_connection_list %}
{% block content %}
{% if participant %}

<h1> {{ participant.name }}</h1>
<h4>participation group: {{ participant.participation_group }} </h4>

{% endif %}
<img src="{{cl}}">

<div class="container">
    {% if participant_stories %}
    {% story_list_thumb participant_stories 150 %}
    {% endif %}
</div>

<div class="container">
    <div class=" row">
        {% if intraconnections %}
        <div class="col p2">
            <h1>Intraconnections</h1>
            <h3>Chains</h3>
            {% chain_with_theme_list intraconnections %}
            <h3>Themes</h3>
            {% for ic in intraconnections %}
            {% theme_with_story_list ic.themes %}
            {% endfor %}

        </div>
        {% elif chainless_themes %}
        <div class="col p2">
            <h1>Intraconnections</h1>
            <h3>Themes</h3>
            {% theme_with_story_list chainless_themes %}
        </div>
        {% endif %}
        {% if interconnections %}
        <div class="col p2">
            <h1>Interconnections</h1>

            <h3>Chain</h3>
            {% chain_list interconnections %}
            <h3>Themes</h3>
            {% for ic in interconnections %}
            {% theme_list ic.themes %}
            {% endfor %}
        </div>
        {% endif%}
    </div>
    {% if story_connections_intra %}
    <h3>Story to Story connections</h3>
    {% story_to_story_connection_list story_connections_intra %}
    {% endif%}
    {% if story_connections_inter %}
    <h3>Story to Story connections</h3>
    {% story_to_story_connection_list story_connections_inter%}
    {% endif %}
</div>
{% endblock %}
