<h3>{{name}}</h3>
<div class="graph small_graph" id="graph"></div>

<script type="text/javascript">

 // create an array with edges

 var nodes = new vis.DataSet([
     {{ nodes|safe }}
 ]);

 var edges = new vis.DataSet([
     {{ edges|safe }}
 ]);

 // create a network
 var container = document.getElementById('graph');

 // provide the data in the vis format
 var data = {
     nodes: nodes,
     edges: edges,
 };
 var options = {
     layout: {
         improvedLayout: false,
     },
     edges:{
         smooth:{
             enabled: true,
             },
         width: 3,
     },
     groups:{
         useDefaultGroups: true,
         {{groups|safe}},
     },
     physics:{
         barnesHut:{
             centralGravity: 0.001,
             gravitationalConstant: -10000,
             springConstant: 0.04,
             springLength: 200,
             damping: 0.5,
         },
     }
 };

 // initialize your network!
 var network = new vis.Network(container, data, options);


 /* network.on("selectNode", function (params) {
  *     if (params.nodes.length === 1) {
  *         var node = nodes.get(params.nodes[0]);
  *         window.open(node.url, '_blank');
  *     }
  * });
  */
</script>
