{% extends 'confabulation/base.html' %}
{% block title %}{{participant.name}}{% endblock %}
{% block content %}
{% if participant %}

<h1> {{ participant.name }}</h1>
<h4>participation group: {{ participant.participation_group }} </h4>

{% endif %}

{% if stories %}
<h5>stories</h5>
<ul>
    {% for s in stories %}
    <li>
        <a href ="/story/{{ s.id }}/">{{ s.name }} </a>
    </li>
    {% endfor %}
</ul>

<h5>Intraconnections</h5>
<h5>Interconnections</h5>
<!-- <h5>Themes (Intraconnections)</h5> -->
<!-- <ul> -->
<!-- {% for tws in themes_with_stories_intra %} -->
<!-- <li> -->
<!-- <a href="/theme/{{tws.theme.id}}/">{{ tws.theme.name }}</a> -->
<!-- <ul> -->
<!-- {% for story in tws.stories %} -->
<!-- <li> -->
<!-- <a href="/story/{{story.id}}/">{{story.name}}</a> -->
<!-- </li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- </li> -->
<!-- {% endfor %} -->
<!-- </ul><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --> -->

<!-- <h5>Themes (Interconnections)</h5> -->
<!-- <ul> -->
<!-- {% for tws in themes_with_stories_inter %} -->
<!-- <li> -->
<!-- <a href="/theme/{{tws.theme.id}}/">{{ tws.theme.name }}</a> -->
<!-- <ul> -->
<!-- {% for story in tws.stories %} -->
<!-- <li> -->
<!-- <a href="/story/{{story.id}}/">{{story.name}}</a> -->
<!-- </li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- </li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
{% endif %}
{% endblock %}
