{% extends 'confabulation/base.html' %}
{% block title %}{{participant.name}}{% endblock %}
{% block content %}
{% if participant %}

<h1> {{ participant.name }}</h1>
<h4>participation group: {{ participant.participation_group }} </h4>

{% endif %}

{% if intraconnections %}
<h1>Intraconnections</h1>
<h2>Chains </h2>
{% for ic in intraconnections %}
<h3><a href="/chains/{{ic.chain.id}}/">{{ic.chain.name}}</a></h3>
<h4>Themes</h4>
{% for t in ic.themes %}
<h5><a href="/themes/{{t.theme.id}}/">{{t.theme.name}}</a></h5>
<h6>Stories</h6>
{% for s in t.stories %}
<a href="/stories/{{si.id}}/">{{s.name}}</a>
{% endfor %}
{% endfor %}
{% endfor %}

{% endif %}
{% if intraconnections %}
<h1>Interconnections</h1>

<h2>Chains </h2>
{% for ic in interconnections %}
<h3><a href="/chains/{{ic.chain.id}}/">{{ic.chain.name}}</a></h3>
<h4>Themes</h4>
{% for t in ic.themes %}
<h5><a href="/themes/{{t.theme.id}}/">{{t.theme.name}}</a></h5>
<h6>Stories</h6>
{% for s in t.stories %}
<a href="/stories/{{si.id}}/">{{s.name}}</a>
{% endfor %}
{% endfor %}
{% endfor %}

{% endif %}
{% endblock %}
