{% extends 'base.html' %}

{% block title %}Story: {{story.name}}{% endblock %}
{% block content %}
{% if story %}
<h1> {{ story.name }}</h1>
<h4><a href="/participant/{{participant.id}}/">{{participant.name}}</a></h4>
{% if eras %}
{% for era in eras %}
<font color="{{story.era.color_code}}">{{ story.era.name }}</font>
{% endfor %}
{% endif %}
{% if keywords %}
{% for keyword in keywords %}
{{ keyword.name }}
{% endfor %}
{% endif %}

<h3>Analysis</h3>
<ul>
    {% for a in analysis %}
    <li>
        <font color="{{a.color_code}}">{{a.name}}</font>
    </li>
    {% endfor %}
</ul>

<h3>Video</h3>
{% if video_url %}
        <video width="530" height="440" controls >
            <source src={{ video_url }} type="video/mp4"></source>
        </video>
        {% else %}
        {% if video_error_message %}
        {{ video_error_message }}
        {% endif %}
{% endif %}

<h3>Notes</h3>
<p>{{story.notes}}</p>
{% endif %}

<h3>Photos</h3>
{% for photo in photos %}
{{ photo.name }}
<img src={{ photo.file_url }} >
{% endfor %}

{% endblock %}
