{% extends 'base.html' %}
{% block title %}{{theme.name}}{% endblock %}
{% block content %}
{% if theme %}

<h1> {{ theme.name }}</h1>
<h5> {{ connection_range }}</h5>

{{theme.description}}


{% endif %}

{% if stories %}
<h5>stories</h5>
<ul>
    {% for s in stories %}
    <li>
        <a href ="/story/{{ s.id }}/">{{ s.name }} </a>
    </li>
    {% endfor %}
</ul>

<h5>Chains</h5>
<ul>
{% for c in chains %}
    <li>
                <a href="/chain/{{c.id}}/">  {{c.name}} </a>


    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
