{% extends 'base.html' %}

{% block title %}{{site_name}}{% endblock %}

{% block content %}
<div class="body_text" id="front_body">
    <div class="row">

        <div class="col">
        <h1>Welcome</h1>
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Here is a short introduction about the taxonomy used in this research:

<video width="530" controls >
<source src={{ video_url }} type="video/mp4"></source>
</video>
        </div>
        <div class="col">
            <div class="row"></div>
            <div class="row align-items-end">
                <div class="col">
            Or you can just start browsing.
            (You will be asked to log in.)
<h3><a href="/participant/">Participants</a></h3>
<h3><a href="/story/">Stories</a></h3>
<h3><a href="{{confabulation_url}}">Confabulation</a></h3>
<h3><a href="{{going_beyond_url}}">Going Beyond</a></h3>

Please be aware that all photos and videos displayed on this site are properties of the participants. They are shared specifically for the purpose of this research, and it is not allowed to copy, publish or otherwise reuse them without their owners consent.
                </div>
            </div>
        </div>
    </div>
        If you are Eszter, then this link to the <a href="/admin/"> admin page </a> migth be useful. 
</div>
{% endblock %}
