{% extends 'base.html' %}

{% block title %}Story Telling Database{% endblock %}

{% block content %}
<div class="body_text" id="front_body">
    <h1>Welcome</h1>

<p>This website is a visual representation of the PhD research work of <a href="/author">Eszter Biro</a>. You can read <a href="/about"> about the research here</>, and you can read the entire thesis work <a href="">here</a> </p>

  Or you can just start browsing. 
    <a href="/participant/">Participants</a>
    <a href="/story/">Stories</a>

If you are Eszter, then a link to the <a href="/admin/"> admin page </a> migth be useful. 

</p>
</div>
{% endblock %}
