<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Participants
                </a>

                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    {% for ptype, list in navigation.participants.items %}
                    <li class="dropdown-submenu">
                        <a  class="nav-item dropdown-item" tabindex="-1" >{{ ptype}}</a>
                        <ul class="dropdown-menu">
                            {% for p in list %}
                            <li>
                                <a class="nav-link" href="{{p.link}}">{{p.name}}</a>
{% endfor%}
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Confabulation
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    {% for ptype in navigation.confabulation %}
                    <li>
                        <a  class="nav-link" tabindex="-1" href="{{ptype.link}}">{{ ptype.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#">Connects</a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    {% for ptype in navigation.connects %}
                    <li>
                        <a  class="nav-link" tabindex="-1" href="{{ptype.link}}">{{ ptype.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a class="nav-link" href="/about">About this project</a>
                        <a class="nav-link" href="/author">About the author</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
