{% block sidebar_left %}
<div class="sidebar_left" id="sidebar_left">
<ul class="clist-unstyled  components navbar-nav" >
{% load ap_link %}
    {% if sidebar_left %}
    {% if sidebar_left.taxonomy %}
        <h3> Taxonomy </h3>
            {% for t in sidebar_left.taxonomy %}
        <li>
            <div>
                <h5>  <a href="{{t.url}}"> {{t.name}}</a>
                    <a href="#ap_{{t.name|cut:' '}}" data-toggle="collapse"  aria-expanded="true" class="dropdown-toggle"  ></a></h5>
                <div class="collapse list-unstyled show" id="ap_{{t.name|cut:' '}}">
                    {% for p in t.ap_list %}
                        {% ap_link p.name p.color_code p.link %}
                        {% endfor%}
                </div>
            </div>
            </li>

            {% endfor %}
</ul>
</div>
    {% endif %}
    {% endif %}
{% endblock %}
 
