{% block sidebar_left %}
<ul class="collapse components navbar-nav">
{% load colored_link %}
    {% if sidebar %}
    {% if sidebar.taxonomy %}
    <li >
        <h3> <a href="#taxonomySubMenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Taxonomy</a></h3>
        <ul class="collapse list-unstyled show" id="taxonomySubMenu">
            {% for ptype, list in sidebar.taxonomy.items %}
            <li>
                <h5>  <a href="#ap_{{ptype|cut:' '}}" data-toggle="collapse"  aria-expanded="true" class="dropdown-toggle"  >{{ ptype}}</a></h5>
                <ul class="collapse list-unstyled show" id="ap_{{ptype|cut:' '}}">
                    {% for p in list %}
                    <li>
                        {% colored_link p.name p.color_code p.link %}
                        {% endfor%}
                    </li>
                </ul>
            </li>

            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% endif %}
</ul>
{% endblock %}
