{% block sidebar %}
        <ul class="list-unstyled components">
            <li>

                {% if sidebar %}
                {% if sidebar.participants %}
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Participants</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    {% for p in sidebar.participants %}
                    <li>
                        <a href="{{p.link}}">{{p.name}}</a>
                    </li>
                    {% endfor%}
                </ul>
                {% endif %}
                {% endif %}
            </li>
        </ul>
{% endblock %}
